In [1]:
#A for loop in Python requires at least two variables to work. 
#The first is the iterable object such as a list, tuple or a string.
#And second is the variable to store the successive values from the sequence in the loop
                #Python For Loop Syntax
          for iter in sequence:
         statements(iter)
#The “iter” represents the iterating variable

In [4]:
n = ["a", "b", "c"]
for x in n:
  print(x)

a
b
c

In [ ]:
#for loop for integer
x=[1,2,3,4,5,6]
for n in x:
    print(n)

In [3]:
#Looping Through a String
for x in "rakesh":
  print(x)

r
a
k
e
s
h

In [5]:
#Break Statement in for loop- The break statement we can stop the loop before it has looped through all the items
n = ["Mukesh", "Rakesh", "vikesh"]
for x in n:
  print(x)
  if x == "Rakesh": #after rakesh the loop will break
    break

Mukesh
Rakesh

In [16]:
x=[1,2,3,4,5,6]
for n in x:
    print(n)
    if n==2:
        break

1
2

In [11]:
n = ["Mukesh", "Rakesh", "vikesh"]
for x in n:
  if x == "Rakesh": #befor rakesh the loop will break
    break
print(x)

Rakesh

In [23]:
x=[1,2,3,4,5,6]
for n in x:
    if n==6:
        break 
    print(n)

1
2
3
4
5

In [14]:
#continue Statement- The continue statement we can stop the current iteration of the loop, and continue with the next
n = ["Mukesh", "Rakesh", "vikesh"]
for x in n:
  if x == "Rakesh": #after rakesh the value will print from given loop
    continue
print(x)

vikesh

In [24]:
#range() Function-The range() function returns a sequence of numbers
#starting from 0 by default and increments by 1 (by default), and ends at a specified number.
for x in range(10):
  print(x)

0
1
2
3
4
5
6
7
8
9

In [25]:
for x in range(2, 10):
  print(x)

2
3
4
5
6
7
8
9

In [26]:
#The range() function defaults to increment the sequence by 1,
#however it is possible to specify the increment value by adding a third parameter: range(2, 20, 3)
for x in range(2, 20, 3): #increment by 3
  print(x)

2
5
8
11
14
17

In [27]:
#Else in For Loop-The else keyword in a for loop specifies a block of code to be executed when the loop is finished
for x in range(10):
  print(x)
else:
  print("Hello Rakesh!")

0
1
2
3
4
5
6
7
8
9
Hello Rakesh!

In [28]:
#Nested Loops
occu=["lectuer","Teacher","Engineer"]
name=["Mukesh","Rakesh","vikesh"]
for x in occu:
    for y in name:
        print(x,y)

lectuer Mukesh
lectuer Rakesh
lectuer vikesh
Teacher Mukesh
Teacher Rakesh
Teacher vikesh
Engineer Mukesh
Engineer Rakesh
Engineer vikesh

In [35]:
#The pass Statement-for loops cannot be empty, 
#but if  for some reason have a for loop with no content
#put pass statement to avoid getting an error in for loop
for x in [1,2,3,4]:
    pass