In [3]:
#string's methods
#swapcase() – Swaps the case of every character in the String means
#that lowercase characters got converted to uppercase and vice-versa.
s1="RakesH KumaR"
s1.swapcase()

'rAKESh kUMAr'

In [4]:
#title() – Returns the ‘titlecased’ version of String, 
#which means that all words start with uppercase and the rest of the characters in words are in lowercase.
s1="welcome to delhi"
s1.title()

'Welcome To Delhi'

In [7]:
#count(s2[beg,end])-Returns the number of times substring ‘s2’ occurs in the range [beg, end]
#if beg and end index are given else the search continues in full String Search is case-sensitive
s1="Rakesh Kumar"
s2="a"
s1.count(s2)

2

In [8]:
s1.count("e")

1

In [9]:
s1.count("K",0,8)

1

In [10]:
#Comparison Functions
#islower() – Returns ‘True’ if all the characters in the String are in lowercase. 
#If any of the char is in uppercase, it will return False.
s1="rakesh"
s1.islower()

True

In [11]:
s2="Rakesh"
s2.islower()

False

In [12]:
#isupper()-Returns ‘True’ if all the characters in the String are in uppercase and vice -versa
s1="Rakesh"
s1.isupper()

False

In [14]:
s2="RAKESH"
s2.isupper()

True

In [15]:
# isdecimal() – Returns ‘True’ if all the characters in String are decimal.
#If any character in the String is of other data-type, it will return False.
s1="u1234"
s1.isdecimal()

False

In [16]:
s2=u"1234"
s2.isdecimal()

True

In [17]:
# isdigit()
s1="2"
s1.isdigit()

True

In [19]:
"2".isdigit()

True

In [26]:
s2='rakesh kumar'
s1='ver'
print (s2.replace('k',s1))

raveresh verumar

In [29]:
s2.split()

['rakesh', 'kumar']

In [33]:
s1="rakesh"
s1.split()

['rakesh']

In [39]:
s1=("a", "b","c", "d")
s2="+"
s2.join(s1)

'a+b+c+d'

In [41]:
#number system
#Type conversion (casting) in Python
int(3.8)

3

In [44]:
float(6)

6.0

In [45]:
complex(3)

(3+0j)

In [46]:
#conversion we have already done in "python 5"

In [47]:
#Python mathematics
max(25,5)

25

In [48]:
min(2,9)

2

In [49]:
round(5.8)

6

In [51]:
abs(-6)

6

In [52]:
pow(4,2)

16