In [ ]:
#list
#Create a list in Python
#There are multiple ways to form a list in Python
# 1) Subscript operator
#The square brackets [ ] represent the subscript operator in Python
# Create a Python list using subscript operator
# Syntax
L1 = [] # An empty list
L2 = [b1, b2,...] # With elements

In [16]:
# list of integers
list1= [10, 20, 30]
print(list1)
# List of heterogenous data types
list2= [1, "Hello", 3.4]
print(list2)

[10, 20, 30]
[1, 'Hello', 3.4]

In [22]:
#append(x)-Adds an item (x) to the end of the list.
list=[40,60,"rakesh","kumar",70]
print(list)

[40, 60, 'rakesh', 'kumar', 70]

In [30]:
list=[40,60,"rakesh","kumar",70]
list
list.append("verma")
list

[40, 60, 'rakesh', 'kumar', 70, 'verma']

In [40]:
#extend(iterable)-Extends the list by appending all the items from the iterable. This allows you to join two lists together
list1=[40,60,"rakesh","kumar",70]
list1

[40, 60, 'rakesh', 'kumar', 70]

In [41]:
list2=[20,10,"mukesh","verma",30]
list2

[20, 10, 'mukesh', 'verma', 30]

In [42]:
list1.extend(list2)
list1

[40, 60, 'rakesh', 'kumar', 70, 20, 10, 'mukesh', 'verma', 30]

In [44]:
#insert()-Inserts an item at a given position. The first argument is the index of the element before which to insert.
list1=[40,60,"rakesh","kumar",70]
list1
list1.insert(0,10) #0 is index value and 10 element
list1

[10, 40, 60, 'rakesh', 'kumar', 70]

In [45]:
#remove()-Removes the first item from the list.
list2=[20,10,"mukesh","verma",30]
list2.remove("mukesh")
list2

[20, 10, 'verma', 30]

In [48]:
list2.remove(10)
list2

[20, 'verma', 30]

In [49]:
#pop([i])-Removes the item at the given position in the list, and returns it
#If no index is specified, pop() removes and returns the last item in the list.
list1=[20,10,"mukesh","verma",30]
list1.pop(0)
list1

[10, 'mukesh', 'verma', 30]

In [52]:
list=[20,10,"mukesh","verma",30]
list.pop(2) #item remove from index no. 2 so "mukesh"is remove from give list
list

[20, 10, 'verma', 30]

In [53]:
#index()-Returns the position of list
list=[30,10,"mukesh","verma",30]
list.index("mukesh")

2

In [54]:
list=[30,10,"mukesh","verma",30]
list.index(30)

0

In [55]:
list=[30,10,"mukesh","verma",30]
list.index(30,2)

4

In [57]:
#clear()-Removes all items from the list
list=[30,10,"mukesh","verma",30]
list.clear()
list

[]

In [60]:
list=[30,10,"mukesh","verma",30]
del list[:] #del list[:] also use to make list empty
list

[]

In [64]:
#count(x)-Returns the number of times x appears in the list.
list=[30,10,"mukesh","verma",30]
list.count("mukesh")

1

In [62]:
list.count(30)

2

In [68]:
list.count("verma")

1

In [66]:
list.count(10)

1

In [69]:
list.count(30) #30 present in twice in given list so that it returns 2

2

In [71]:
list.count("")

0

In [74]:
#sort(key=None, reverse=False)-Sorts the items of the list in place. The arguments can be used to customize the operation.
#key-Specifies a function of one argument that is used to extract a comparison key from each list element.
#The default value is None
#reverse-Boolean value. If set to True, then the list elements are sorted as if each comparison were reversed.
list1=[40,90,20,10,50]
list1

[40, 90, 20, 10, 50]

In [79]:
list1.sort()#accending order
list1

[10, 20, 40, 50, 90]

In [82]:
list1.sort(reverse=True)
list1

[90, 50, 40, 20, 10]

In [84]:
a = ["bee", "wasp", "butterfly"]
a.sort(key=len)
a

['bee', 'wasp', 'butterfly']

In [86]:
a.sort(key=len, reverse=True)
a

['butterfly', 'wasp', 'bee']

In [87]:
#reverse()-Reverses the elements of the list in place.
a = [3,6,5,2,4,1]
a.reverse()
print(a)

a = ["bee", "wasp", "moth", "ant"]
a.reverse()
print(a)

[1, 4, 2, 5, 6, 3]
['ant', 'moth', 'wasp', 'bee']

In [88]:
#copy()-Returns a shallow copy of the list.
a = ["bee", "wasp", "moth"]
b = a
b.append("ant")
print(a)
print(b)

# WITH copy()
a = ["bee", "wasp", "moth"]
b = a.copy()
b.append("ant")
print(a)
print(b)

['bee', 'wasp', 'moth', 'ant']
['bee', 'wasp', 'moth', 'ant']
['bee', 'wasp', 'moth']
['bee', 'wasp', 'moth', 'ant']

In [89]:
#len(s)-Returns the number of items in the list.
list1=[40,90,20,10,50]
list1

[40, 90, 20, 10, 50]

In [90]:
len(list1)

5

In [ ]:
#list([iterable])-The list() constructor returns a mutable sequence list of elements.
print(list())

In [ ]:
print(list([]))
print(list(["bee", "moth", "ant"]))
print(list([["bee", "moth"], ["ant"]]))

a = "bee"
print(list(a))

a = ("I", "am", "a", "tuple")
print(list(a))

a = {"I", "am", "a", "set"}
print(list(a))

In [129]:
#max()-Returns the largest item in an iterable (eg, list) or the largest of two or more arguments
a = ["bee", "mouth", "eyes","apple"]
a

['bee', 'mouth', 'eyes', 'apple']

In [132]:
max(a)

'mouth'

In [133]:
a = ["bee", "mouth", "eyes","zebra"] #if  in two words the no. of lettes are same then 
                                     #that words will come whose letter in descending order. 
max(a)

'zebra'

In [134]:
a = [1, 2, 3, 4, 5]
b = [1, 2, 3, 4]
max(a,b)

[1, 2, 3, 4, 5]

In [135]:
#min()-Returns the smallest item in an iterable (eg, list) or the smallest of two or more arguments.
a = [1, 2, 3, 4, 5]
b = [1, 2, 3, 4]
min(a,b)

[1, 2, 3, 4]

In [136]:
a = ["bee", "mouth", "eyes","apple"]
min(a)

'apple'

In [173]:
#Join Two Lists
list1=[1,3,6,7,9]
list2=[0,2,4,5,8]
list3=list1+list2
list3

[1, 3, 6, 7, 9, 0, 2, 4, 5, 8]

In [174]:
#Append list2 into list1:

list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

for x in list2:
  list1.append(x)

print(list1)

['a', 'b', 'c', 1, 2, 3]

In [152]:
#range()-Represents an immutable sequence of numbers and is commonly used for looping a specific number of times in for loops.

In [153]:
x=range(9)
for n in x:
    print(n)

0
1
2
3
4
5
6
7
8

In [154]:
x = range(3, 9)
for n in x:
  print(n)#Create a sequence of numbers from 3 to 9.

3
4
5
6
7
8

In [155]:
x = range(3, 20, 2)
for n in x:
  print(n)#Create a sequence of numbers from 3 to 19, but increment by 2 instead of 1

3
5
7
9
11
13
15
17
19

In [157]:
a=["Apple","Banana","Mango","Grapes","Orange","Pineapple"]
b=[fruits[0] for fruits in a]#it is for containing first letter of words present in  given list.
b

['A', 'B', 'M', 'G', 'O', 'P']

In [171]:
#Range of Indexes
list = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(list[3:6])

['orange', 'kiwi', 'melon']

In [170]:
#returns the items from "apple" and "banana"
list = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(list[:2])

['apple', 'banana']

In [169]:
#returns the items from "orange" and to the end
list = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(list[3:])

['orange', 'kiwi', 'melon', 'mango']

In [172]:
#Range of Negative Indexes
list = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(list[-4:-1])

['orange', 'kiwi', 'melon']

In [159]:
#Creating a multi-dimensional list
list=[0]*4
list

[0, 0, 0, 0]

In [160]:
list=[[0]*4]*3
list

[[0, 0, 0, 0], [0, 0, 0, 0], [0, 0, 0, 0]]