In [4]:
#Complex variables cannot be cast to floats or integers. 
#We need to use z.real or z.imag to extract the part of the complex number we want:
z=2+3j
y = bool(z.real)
print(z.real, " -> ", y, type(y))
y = bool(z.imag)
print(z.imag, " -> ", y, type(y))

2.0  ->  True <class 'bool'>
3.0  ->  True <class 'bool'>

In [8]:
      #Operators and comparisons
#Arithmetic operators +, -, *, /, // (integer division), '**' powe
# + operator
1+3+5,1 + 2, 1 - 2, 1 * 2, 1 / 2

(9, 3, -1, 2, 0.5)

In [10]:
1.0 + 2.0, 1.0 - 2.0, 1.0 * 2.0, 1.0 / 2.0

(3.0, -1.0, 2.0, 0.5)

In [9]:
# +operator with variable  
x=3
y=5
s=x+y
s

8

In [11]:
# Integer division of float numbers
#it will not return float number only return integer value
3.0 // 2.0

1.0

In [12]:
# power function
# The power operators in python isn't ^, but **
2 ** 2

4

In [13]:
#5*5*5*5=625
x=5
y=4
p=x**y
p

625

In [ ]:
#The / operator always performs a floating point division in Python 3.x.
#This is not true in Python 2.x, where the result of / is always an integer
#if the operands are integers. to be more specific, 1/2 = 0.5 (float) in Python 3.x, and 1/2 = 0 (int) in Python 2.x 
#(but 1.0/2 = 0.5 in Python 2.x).

In [ ]:
#The boolean operators are spelled out as the words and, not, or.
#Complex Logic using and, or and xor
#[x and y] will give True only if both A and B are True
#[a or  b] will give True if one or both of A, B are True
#[w xor z] will give True if one is True but not both.

In [3]:
True and False

False

In [7]:
not False

True

true  or false

In [8]:
True or False

True

In [9]:
#Comparison operators >, <, >= (greater or equal), <= (less or equal), == equality, is identical.
2>3

False

In [10]:
3>2

True

In [11]:
4<6

True

In [16]:
9>9,9>=9,9<9,9<=9

(False, True, False, True)

In [17]:
2==3

False

In [18]:
# equality
3==3

True

In [19]:
# equality
[1,2] == [1,2]

True

In [26]:
# objects identical?
#The is keyword is used to test if two variables refer to the same object. 
#The test returns True if the two objects are the same object.
#The test returns False if they are not the same object, even if the two objects are 100% equal.

#here L is a  keyword of (objects identical)
L1 = L2 = [1,2]

L1 is L2

True

In [ ]:
                         #Strings
#Strings are the variable type that is used for storing text messages

In [32]:
# how to assign string 
s1='rakesh'
s2="kumar"
s1,s2
# we can assign string in both way either in ('') or in ("")

('rakesh', 'kumar')

In [34]:
# now we can assign an other way (""" """)
#it is use for multiple line like this 
str=""" rakesh kumar
        abcd
        mukesh kumar
        we can write many more sentences"""
print(str)

 rakesh kumar
        abcd
        mukesh kumar
        we can write many more sentences

In [35]:
#if we not mention print function the o/p comes like this
str

' rakesh kumar\n        abcd\n        mukesh kumar\n        we can write many more sentences'

In [38]:
# now! how to use replace function
s=""" rakesh kumar
        abcd
        mukesh kumar
        we can write many more sentences"""
s1=s.replace("abcd","verma")
print (s1)

 rakesh kumar
        verma
        mukesh kumar
        we can write many more sentences

In [ ]:
#in above example we replaced abcd with verma as you can see

In [39]:
#how we find type 
type(s1)

str

In [ ]:
 # here (str) means string

In [40]:
#now we are going to find length of string
len(s1)

89

In [41]:
str="abcdef"
print(str)
len(str)

abcdef

6

In [42]:
#indexing in string
#indexing is just like  position of string
str="python strings"
str[5]

'n'

In [ ]:
#so index always start with 0
# p y t h o n - s t r i n g s
# 0 1 2 3 4 5 6 7 8 9 10 11 12 13
# n is on 5th position

In [44]:
#-ve index
print(str[-5])

r

In [ ]:
#in -ve index the count start with 1 from last position

In [4]:
#Slice a String in Python
# we define the range as [a:b]
s1="Rakesh kumar"
print(s1[3:5])

es

In [6]:
#return whole string starting from 0 index number
s1[0:]

'Rakesh kumar'

In [7]:
#return whole string starting from 5 index number
s1[5:]

'h kumar'

In [8]:
#return whole string starting from 0 index number upto 4 index number
s1[:5]

'Rakes'

In [9]:
#return whole string between 7 and -4 index number
# upto 7 from forword direction and 4 from backword direction
s1[7:-4]

'k'